<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-apple-watch-link" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Apple Watch Link</name>
    <author>Nick Redding</author>
    <description>Cordova Plugin for the Apple Watch (WatchKit) to allow communicatn between a Cordova app and an Apple WatchKit Extension (and vice versa)</description>
    <keywords>cordova, apple, watch, watchkit, message, extension, notification</keywords>
    <license>Apache 2.0</license>
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-ios" version=">=6.1.0"/>
        <engine name="apple-ios" version=">=14.0.0"/>
        <engine name="apple-xcode" version=">=12.0.0"/>
    </engines>
    <js-module name="watchLink" src="www/watchLink.js">
        <clobbers target="cordova.plugins.watchLink" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="WatchLink">
                <param name="ios-package" value="WatchLink"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="watchLinkAppLogLevel" value="all" />
            <preference name="watchLinkWatchLogLevel" value="all" />
            <preference name="watchLinkWatchPrintLogLevel" value="all" />
        </config-file>
        <source-file src="src/ios/WatchLink.swift"/>
        <source-file src="clone.sh" target-dir=".." />
        <source-file src="update.sh" target-dir=".." />
        <info>
        Plugin Notes:
          Swift version must be set to 5 under build settings.
          Execute "chmod 777 *.sh" in Terminal to make clone.sh and update.sh executable.
          </info>
    </platform>
</plugin>
